body{background-color: rgb(231, 102, 21);font-size: 5;}
h2{color:brown;text-align: center;font-size: 50px;}
p{color: chartreuse;text-align: justify;font-size: 40px;border: 8px saddlebrown;padding: 10px;box-shadow: 5px 5px 5px cornflowerblue;}